
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="page-banner home-banner mb-5">
    <div class="slider-wrapper">
        <div class="owl-carousel hero-carousel">
            <div class="hero-carousel-item">
                <img src="~/WebTemplete/assets/img/bg_image_1.jpg" alt="">
                <div class="img-caption">
                    <div class="subhead">We're design studio believe in ideas</div>
                    <h1 class="mb-4">Creative Design</h1>
                    <a href="#services" class="btn btn-outline-light">Get Started</a>
                </div>
            </div>
            <div class="hero-carousel-item">
                <img src="~/WebTemplete/assets/img/bg_image_2.jpg" alt="">
                <div class="img-caption">
                    <h1 class="mb-4">We combine Design, Thinking, and Technical</h1>
                    <a href="#services" class="btn btn-outline-light">Get Started</a>
                    <a href="#services" class="btn btn-primary">See Pricing</a>
                </div>
            </div>
            <div class="hero-carousel-item">
                <img src="~/WebTemplete/assets/img/bg_image_3.jpg" alt="">
                <div class="img-caption">
                    <div class="subhead">Easy way to build perfect website</div>
                    <h1 class="mb-4">Beautify handcrafted templates for your website</h1>
                    <a href="#services" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div> <!-- .slider-wrapper -->
</div>

